<header class="flex w-full justify-center items-center my-4 relative">
    <button
        *ngIf="false"
        class="left-4 top-0 absolute cursor-pointer animate-rotate rounded-full p-2"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
        >
            <path
                fill="currentColor"
                d="m9.25 22l-.4-3.2q-.325-.125-.613-.3t-.562-.375L4.7 19.375l-2.75-4.75l2.575-1.95Q4.5 12.5 4.5 12.337v-.674q0-.163.025-.338L1.95 9.375l2.75-4.75l2.975 1.25q.275-.2.575-.375t.6-.3l.4-3.2h5.5l.4 3.2q.325.125.613.3t.562.375l2.975-1.25l2.75 4.75l-2.575 1.95q.025.175.025.338v.674q0 .163-.05.338l2.575 1.95l-2.75 4.75l-2.95-1.25q-.275.2-.575.375t-.6.3l-.4 3.2h-5.5ZM11 20h1.975l.35-2.65q.775-.2 1.438-.588t1.212-.937l2.475 1.025l.975-1.7l-2.15-1.625q.125-.35.175-.737T17.5 12q0-.4-.05-.787t-.175-.738l2.15-1.625l-.975-1.7l-2.475 1.05q-.55-.575-1.212-.962t-1.438-.588L13 4h-1.975l-.35 2.65q-.775.2-1.437.588t-1.213.937L5.55 7.15l-.975 1.7l2.15 1.6q-.125.375-.175.75t-.05.8q0 .4.05.775t.175.75l-2.15 1.625l.975 1.7l2.475-1.05q.55.575 1.213.963t1.437.587L11 20Zm1.05-4.5q1.45 0 2.475-1.025T15.55 12q0-1.45-1.025-2.475T12.05 8.5q-1.475 0-2.488 1.025T8.55 12q0 1.45 1.012 2.475T12.05 15.5ZM12 12Z"
            />
        </svg>
    </button>
    <nav
        class="flex flex-row justify-around items-center relative w-full max-w-7xl ml-20 gap-4 mr-4"
    >
        <a
            class="ax-link relative flex-1 max-w-xs text-center text-sm sm:text-base"
            (click)="setActive('about-me')"
        >
            <span class="sm:inline-flex hidden">
                {{ "about_me.label" | translate }}
            </span>
            <svg
                class="sm:hidden inline-flex"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
            >
                <path
                    fill="currentColor"
                    d="M11.5 8A1.5 1.5 0 0 1 13 9.5v.5c0 1.971-1.86 4-5 4s-5-2.029-5-4v-.5A1.5 1.5 0 0 1 4.5 8zM8 1.5A2.75 2.75 0 1 1 8 7a2.75 2.75 0 0 1 0-5.5"
                />
            </svg>
            <img
                class="absolute -top-1/2 left-1/2 -translate-x-1/2 h-20"
                src="./assets/shapes/Highlight.svg"
                alt="highlight"
                [ngClass]="{
                    'hidden' : active !== 'about-me',
                }"
            />
        </a>
        <a
            class="ax-link relative flex-1 max-w-xs text-center text-sm sm:text-base"
            (click)="setActive('skills-projects')"
        >
            <span class="sm:inline-flex hidden">
                {{ "skills_projects.label" | translate }}
            </span>
            <svg
                class="sm:hidden inline-flex"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
            >
                <path
                    fill="currentColor"
                    d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"
                />
            </svg>

            <img
                class="absolute -top-1/2 left-1/2 -translate-x-1/2 h-20"
                src="./assets/shapes/Highlight.svg"
                alt="highlight"
                [ngClass]="{
                'hidden' : active !== 'skills-projects',
            }"
            />
        </a>
        <a
            class="ax-link relative flex-1 max-w-xs text-center text-sm sm:text-base"
            (click)="setActive('contact')"
        >
            <span class="sm:inline-flex hidden">
                {{ "contact.label" | translate }}
            </span>

            <svg
                class="sm:hidden inline-flex"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                viewBox="0 0 26 26"
            >
                <path
                    fill="currentColor"
                    d="M22.386 18.026c-1.548-1.324-3.119-2.126-4.648-.804l-.913.799c-.668.58-1.91 3.29-6.712-2.234c-4.801-5.517-1.944-6.376-1.275-6.951l.918-.8c1.521-1.325.947-2.993-.15-4.71l-.662-1.04C7.842.573 6.642-.552 5.117.771l-.824.72c-.674.491-2.558 2.087-3.015 5.119c-.55 3.638 1.185 7.804 5.16 12.375c3.97 4.573 7.857 6.87 11.539 6.83c3.06-.033 4.908-1.675 5.486-2.272l.827-.721c1.521-1.322.576-2.668-.973-3.995z"
                />
            </svg>

            <img
                class="absolute -top-1/2 left-1/2 -translate-x-1/2 h-20"
                src="./assets/shapes/Highlight.svg"
                alt="highlight"
                [ngClass]="{
                'hidden' : active !== 'contact',
            }"
            />
        </a>
    </nav>
</header>
