<div
    class="flex justify-center items-center w-full h-[90vh] flex-1 bg-shapes-pattern-rotate md:bg-shapes-pattern bg-center bg-contain bg-no-repeat relative"
>
    <div
        class="absolute w-44 max-h-[380px] mt-2 h-full border-x-2 border-black-950"
    ></div>
    <div
        class="max-w-4xl h-full relative items-start gap-6 flex flex-col justify-between max-h-[400px]"
    >
        <div
            *ngFor="let socialMedia of socialMedias; let index = index"
            class="shadow-neobrutalism border-2 bg-white border-black-950 rounded-xl px-2 py-1 flex gap-2 flex-row items-center justify-between w-52 hover:font-semibold"
            [ngClass]="{
                'rotate-[-5deg]': index % 2 === 0,
                'rotate-[5deg]': index % 2 !== 0
            }"
        >
            <p class="text-xl pr-8">
                {{ socialMedia.name }}
            </p>
            <div class="flex flex-row gap-1 items-center justify-center">
                <button
                    class="hover:text-work-800"
                    (click)="copy(socialMedia.clipboard)"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 256 256"
                    >
                        <path
                            fill="currentColor"
                            d="M216 32H88a8 8 0 0 0-8 8v40H40a8 8 0 0 0-8 8v128a8 8 0 0 0 8 8h128a8 8 0 0 0 8-8v-40h40a8 8 0 0 0 8-8V40a8 8 0 0 0-8-8m-56 176H48V96h112Zm48-48h-32V88a8 8 0 0 0-8-8H96V48h112Z"
                        />
                    </svg>
                </button>
                <a
                    [href]="socialMedia.link"
                    rel="noreferrer"
                    target="_blank"
                    class="hover:text-work-800"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 6H7a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-5m-6 0l7.5-7.5M15 3h6v6"
                        />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
