<div
    class="flex flex-row justify-center gap-4 w-full px-4 my-2 overflow-x-auto"
>
    <ax-tech-tag
        class="cursor-pointer"
        *ngFor="let skill of skills"
        [tech]="skill"
        [color]="selectedSkill === skill ? 'primary' : 'transparent'"
        (click)="selectSkill(skill)"
    ></ax-tech-tag>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-6 auto-rows-auto mb-4">
    <ax-experience-card
        class="h-full"
        *ngFor="let experience of filteredExperiences"
        [experience]="experience"
    ></ax-experience-card>
</div>
