<!-- Shapes container -->
<div
    class="flex justify-center items-center w-full h-[90vh] flex-1 bg-shapes-pattern-rotate md:bg-shapes-pattern bg-center bg-contain bg-no-repeat"
>
    <div class="flex justify-center h-30 items-center z-10 relative">
        <div
            class="border-2 inline-flex bg-white w-40 h-30 border-black shadow-neobrutalism rounded-2xl p-4 text-center min-w-[600px]"
        >
            <p>
                {{ "about_me.first" | translate }}

                <span class="text-primary-700">Alex Mamani.</span>

                {{ "about_me.second" | translate }}

                <span class="text-primary-700">
                    {{ "software_engineer" | translate }}
                </span>

                {{ "about_me.third" | translate }}

                <span class="text-primary-700">{{
                    "web_development" | translate
                }}</span>
            </p>
        </div>

        <div
            class="absolute top-[220px] z-50 right-[350px] w-0 h-0 border-l-[25px] border-l-[transparent] border-r-[25px] border-r-[transparent] border-b-[100px] border-b-[black] rotate-[135deg]"
        ></div>
        <div
            class="translate-y-36 flex justify-center items-center rounded-full shadow-neobrutalism border-2 border-black aspect-square w-[400px] h-[400px] object-contain"
        >
            <img
                class="object-cover rounded-full w-full h-full"
                src="./assets/images/profile-picture.jpg"
            />
        </div>
    </div>
</div>
