<article
    class="shadow-neobrutalism bg-white rounded-xl py-6 px-8 border-2 border-black-950 flex flex-col gap-6"
>
    <header class="flex flex-row items-center justify-between">
        <div class="flex flex-row gap-2 items-center justify-start">
            <h1 class="font-bold text-xl">{{ experience.title }}</h1>
            <span
                *ngIf="experience.type === 'personal'"
                class="rounded-xl bg-personal-200 text-personal-800 px-2 py-1"
            >
                {{ "project.personal" | translate }}
            </span>
            <span
                *ngIf="experience.type === 'work'"
                class="rounded-xl bg-work-200 text-work-800 px-2 py-1"
            >
                {{ "work_experience.label" | translate }}
            </span>
        </div>
        <p class="truncate">
            {{ experience.startDate }} - {{ experience.endDate }}
        </p>
    </header>

    <body class="flex flex-col gap-8">
        <div
            class="border-2 border-black-950 rounded-xl relative flex flex-wrap gap-2 p-4"
        >
            <span
                class="absolute -top-4 -left-4 rounded-xl bg-info-300 text-info-600 px-2 py-1"
            >
                {{ "technologies_used.label" | translate }}
            </span>
            <div
                *ngFor="let i of experience.technologiesUsed"
                class="flex flex-col justify-start items-center"
            >
                <ax-tech-tag [size]="'sm'" [tech]="i.technology"></ax-tech-tag>

                <p class="text-black-800">
                    {{ i.description }}
                </p>
            </div>
        </div>

        <div
            class="border-2 border-black-950 rounded-xl relative flex flex-wrap gap-2 p-4"
        >
            <span
                class="absolute -top-4 -left-4 rounded-xl bg-info-300 text-info-600 px-2 py-1"
            >
                {{ "project.about" | translate }}
            </span>
            <div class="flex flex-col gap-2">
                <div class="flex flex-row gap-2 pt-1">
                    <a
                        *ngIf="experience.about.sourceCode"
                        [href]="experience.about.sourceCode"
                        rel="noreferrer"
                        target="_blank"
                        class="flex flex-row items-center gap-1"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1em"
                            height="1em"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill="black"
                                d="M12 1A10.89 10.89 0 0 0 1 11.77A10.79 10.79 0 0 0 8.52 22c.55.1.75-.23.75-.52v-1.83c-3.06.65-3.71-1.44-3.71-1.44a2.86 2.86 0 0 0-1.22-1.58c-1-.66.08-.65.08-.65a2.31 2.31 0 0 1 1.68 1.11a2.37 2.37 0 0 0 3.2.89a2.33 2.33 0 0 1 .7-1.44c-2.44-.27-5-1.19-5-5.32a4.15 4.15 0 0 1 1.11-2.91a3.78 3.78 0 0 1 .11-2.84s.93-.29 3 1.1a10.68 10.68 0 0 1 5.5 0c2.1-1.39 3-1.1 3-1.1a3.78 3.78 0 0 1 .11 2.84A4.15 4.15 0 0 1 19 11.2c0 4.14-2.58 5.05-5 5.32a2.5 2.5 0 0 1 .75 2v2.95c0 .35.2.63.75.52A10.8 10.8 0 0 0 23 11.77A10.89 10.89 0 0 0 12 1"
                            />
                        </svg>
                        <p>{{ "source_code.label" | translate }}</p>
                    </a>

                    <a
                        *ngIf="experience.about.deployment"
                        [href]="experience.about.deployment"
                        class="flex flex-row items-center gap-1"
                        target="_blank"
                        rel="noreferrer"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1em"
                            height="1em"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill="currentColor"
                                d="M3.055 11a9.009 9.009 0 0 1 6.277-7.598A16.906 16.906 0 0 0 7.029 11zm7.937-9.954C5.39 1.554 1 6.265 1 12s4.39 10.446 9.992 10.955l.008.01l.425.02A12.476 12.476 0 0 0 12 23a11.285 11.285 0 0 0 .575-.015l.425-.02l.008-.01C18.61 22.444 23 17.735 23 12S18.61 1.554 13.008 1.046L13 1.036l-.426-.021a11.162 11.162 0 0 0-1.148 0l-.426.02zM12.002 3a14.918 14.918 0 0 1 2.965 8H9.033a14.918 14.918 0 0 1 2.966-8H12zM7.028 13c.16 2.76.98 5.345 2.303 7.598A9.009 9.009 0 0 1 3.055 13zm4.97 8a14.918 14.918 0 0 1-2.966-8h5.934A14.918 14.918 0 0 1 12 21zm2.67-.402A16.907 16.907 0 0 0 16.97 13h3.974a9.009 9.009 0 0 1-6.276 7.598M16.97 11c-.16-2.76-.98-5.345-2.303-7.598A9.009 9.009 0 0 1 20.945 11z"
                            />
                        </svg>
                        <p>{{ "deployment.label" | translate }}</p>
                    </a>
                </div>
                <p>{{ experience.about.description }}</p>
            </div>
        </div>
    </body>
</article>
