/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.baloo-2-regular {
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Baloo 2", sans-serif;
}

.ax-link {
    background-color: theme("colors.yellow");
    border: 2px solid #000000;
    border-radius: 16px;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-decoration: none;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
}
